@import url(https://fonts.googleapis.com/css?family=PT+Sans:400italic);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size:120%;
  font-family: 'PT Sans', sans-serif !important;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"), url("http://fonts.gstatic.com/l/font?kit=fQl5KuJ0t7CxaofpRWHFZ5uy9QftGgiCbPT5J2Tle6QGEtCW0q5T6QHEAICoCh1h9R715REvNVFz5maQ3RAjMvuvYlUZxjWJuWoIFYd8ZVs9VGRJmXaKNSd0UG6XHo4E") format("woff2"), url("http://fonts.gstatic.com/l/font?kit=9HC7E4PH-EC-60ASiiwijJuy9QftGgiCbPT5J2Tle6QGEtCW0q5T6QHEAICoCh1h9R715REvNVFz5maQ3RAjMvuvYlUZxjWJuWoIFYd8ZVs9VGRJmXaKNSd0UG6XHo4E") format("woff");
}

a{ text-decoration: none !important}

.panel-default > .panel-heading, .footer {
    color: #fff;
    background-color: #222;
}

#content{
  margin-bottom: 75px; 
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif !important;
}
p, div {
    font-family: 'PT Sans', sans-serif !important;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  #content{
    margin-bottom: 60px; 
  }
}
