<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div class="row marketing">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>

        <form ng-submit="submit()">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="city" />
            </div>
          <input type="submit" class="btn btn-primary" value="Get Forecast" />
        </form>
    </div>
</div>
